*.o
*.a
src/oci_runtime_spec.c
src/oci_runtime_spec.h
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
config.h
config.h.in
config.h.in~
config.log
config.status
configure
src/.deps/
src/.dirstamp
src/validate
stamp-h1
tests/.deps/
tests/.dirstamp
tests/test-1
tests/test-2
