*.o
*.a
src/oci_runtime_spec.c
src/oci_runtime_spec.h
src/oci_image_spec.c
src/oci_image_spec.h
src/oci_image_index_spec.c
src/oci_image_index_spec.h
src/oci_image_layout_spec.c
src/oci_image_layout_spec.h
src/oci_image_manifest_spec.c
src/oci_image_manifest_spec.h
src/image_manifest_items.c
src/image_manifest_items.h
src/oci_json_common.c
src/oci_json_common.h
src/json_common.h
src/json_common.c
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
config.h
config.h.in
config.h.in~
config.log
config.status
configure
src/.deps/
src/.dirstamp
src/validate
stamp-h1
tests/.deps/
tests/.dirstamp
test-suite.log
tests/test-1.log
tests/test-1.trs
tests/test-2.log
tests/test-2.trs
tests/test-3.log
tests/test-3.trs
tests/test-4.log
tests/test-4.trs
tests/test-5.log
tests/test-5.trs
tests/test-6.log
tests/test-6.trs
tests/test-7.log
tests/test-7.trs
tests/test-8.log
tests/test-8.trs
tests/test-1
tests/test-2
tests/test-3
tests/test-4
tests/test-5
tests/test-6
tests/test-7
tests/test-8
