*.a
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
.clang-format
config.h
config.h.in
config.h.in~
config.log
config.status
configure
.deps/
libocispec.la
libtool
m4/*
Makefile
Makefile.in
*.o
src/basic_test_double_array.c
src/basic_test_double_array.h
src/basic_test_double_array_item.c
src/basic_test_double_array_item.h
src/basic-test_stamp
src/basic_test_top_array_int.c
src/basic_test_top_array_int.h
src/basic_test_top_array_string.c
src/basic_test_top_array_string.h
src/basic_test_top_double_array_int.c
src/basic_test_top_double_array_int.h
src/basic_test_top_double_array_obj.c
src/basic_test_top_double_array_obj.h
src/basic_test_top_double_array_refobj.c
src/basic_test_top_double_array_refobj.h
src/basic_test_top_double_array_string.c
src/basic_test_top_double_array_string.h
src/.deps/
src/.dirstamp
src/image_manifest_items_image_manifest_items_schema.c
src/image_manifest_items_image_manifest_items_schema.h
src/image_manifest_stamp
src/image_spec_schema_config_schema.c
src/image_spec_schema_config_schema.h
src/image_spec_schema_content_descriptor.c
src/image_spec_schema_content_descriptor.h
src/image_spec_schema_defs.c
src/image_spec_schema_defs_descriptor.c
src/image_spec_schema_defs_descriptor.h
src/image_spec_schema_defs.h
src/image_spec_schema_image_index_schema.c
src/image_spec_schema_image_index_schema.h
src/image_spec_schema_image_layout_schema.c
src/image_spec_schema_image_layout_schema.h
src/image_spec_schema_image_manifest_schema.c
src/image_spec_schema_image_manifest_schema.h
src/image_spec_stamp
src/*.lo
src/__pycache__/
src/runtime_spec_schema_config_linux.c
src/runtime_spec_schema_config_linux.h
src/runtime_spec_schema_config_schema.c
src/runtime_spec_schema_config_schema.h
src/runtime_spec_schema_config_solaris.c
src/runtime_spec_schema_config_solaris.h
src/runtime_spec_schema_config_vm.c
src/runtime_spec_schema_config_vm.h
src/runtime_spec_schema_config_windows.c
src/runtime_spec_schema_config_windows.h
src/runtime_spec_schema_defs.c
src/runtime_spec_schema_defs.h
src/runtime_spec_schema_defs_linux.c
src/runtime_spec_schema_defs_linux.h
src/runtime_spec_schema_defs_vm.c
src/runtime_spec_schema_defs_vm.h
src/runtime_spec_schema_defs_windows.c
src/runtime_spec_schema_defs_windows.h
src/runtime_spec_schema_state_schema.c
src/runtime_spec_schema_state_schema.h
src/runtime_spec_stamp
src/validate
stamp-h1
tests/.deps/
tests/.dirstamp
tests/test-1
tests/test-10
tests/test-2
tests/test-3
tests/test-4
tests/test-5
tests/test-6
tests/test-7
tests/test-8
tests/test-9
tests/test-*.log
tests/test-*.trs
test-suite.log
