[submodule "runtime-spec"]
	path = runtime-spec
	url = https://github.com/opencontainers/runtime-spec
[submodule "image-spec"]
	path = image-spec
	url = https://github.com/opencontainers/image-spec
[submodule "yajl"]
	path = yajl
	url = https://github.com/containers/yajl.git
[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson
